html, * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.bold{
    font-weight: bold;
}

header {
    background-color: #2e2e2e;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    z-index: 101;
    text-align: center;
}

header img {
    width:70%;
}

.wrapper{
    margin: 0 auto;
    max-width: 1000px;
    color: #323232;
}

.icons-promo{
    padding-bottom:40px;
    text-align: center;
    background-color: #2B4065;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    z-index: 100;
    position: relative;
    color: whitesmoke;
}

.window{
    display: inline-block;
    line-height: 330px;
    height: 300px;
    font-size: 225px;
    min-width: 280px;
    text-align: center;
    text-shadow: 3px 6px 12px rgba(0, 0, 0, 0.7);
    color: whitesmoke;

}
.content{
    text-align: left;
    padding-top: 80px;
    display: inline-block;
    vertical-align: top;
    font-size: 2em;
    max-width: 600px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 1.5em;
    color: whitesmoke;
}

.info-wrapper{
    background-color: #95BCEB;
    position: relative;
    z-index: 99;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    padding: 60px 8px 20px 8px;
}

#buttons{
     text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;

}

#buttons a{
    text-decoration: none;
    cursor: pointer;
    width: 125px;
    padding: 8px;
    margin: 14px;

    border: none;
    border-radius: 6px;
    background-color: darksalmon;
    color:#323232;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
}

#buttons a:hover{
    background-color: #ffc4b1;
    color:#323232;
    -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
    box-shadow:  2px 2px 12px 0px rgba(0,0,0,0.75);
    outline:none;
}
#buttons a:focus {
    outline: none;
}

#info{
    display: inline-block;
    color: #3c3c3c;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}

#info a{
    text-decoration: none;
    color: inherit;
    white-space: nowrap;

}

#info #count{
    font-weight: bold;
    font-size: 1.1em;
}
.starter{
    background-color: #2b4065;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    z-index: 98;
    position: relative;
    font-size: 0.9em;
}

.starter .wrapper{
    padding: 20px 8px 30px 8px;
    color: #d9d9d9;
}

.starter a{
    color: #b6c7cc;
}

.starter h1{
    font-size: 1.9em;
    color: whitesmoke;
}

.starter h2{
    color: #585858;
}

.starter ol{
   font-size: 1.4em;
}

.starter ol li{
    margin-bottom: 8px;
}

.icons{
    background-color: #95bceb;
    padding: 30px 10px 40px 10px;
    text-align: center;
    position: relative;
    z-index: 97;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

.icons #search{
    margin: 0 auto;
    text-align: left;
    margin-bottom: 10px;
    max-width: 80%;

    border-radius: 16px;
    background-color: #7c9cc3;
    padding: 8px;

    line-height: 24px;
    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    box-shadow:         inset 0 0 10px rgba(0,0,0,0.2);
    color: #2d3846;
    font-size: 24px;
}

.focus {
    -moz-box-shadow:    inset 0 0 10px #2d3846 !important;
    -webkit-box-shadow: inset 0 0 10px #2d3846 !important;
    box-shadow:         inset 0 0 10px #2d3846 !important;
}

.icons input{
    height: 30px;
    width: 85%;
    border: none;
    font-size: 24px;
    background-color: transparent;
    color: #323232;
}

.icons #types {

}
#types{
    max-width: 80%;
    margin: 0 auto 20px auto;
}
#types button {
    cursor: pointer;
    padding: 4px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    background-color: #50667F;
    color:whitesmoke;
    font-size: 1.2em;
    font-weight: normal;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}

#types button:hover{
    outline:none;
    background-color: #627998;
    -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
    box-shadow:  2px 2px 12px 0px rgba(0,0,0,0.75);
}

#types button:focus {
    outline: none;
}

.icons ::-webkit-input-placeholder {
    color: #5a718d;
}

.icons :-moz-placeholder { /* Firefox 18- */
    color: #5a718d;
}

.icons ::-moz-placeholder {  /* Firefox 19+ */
    color: #5a718d;
}

.icons :-ms-input-placeholder {
    color: #5a718d;
}

.icons input:focus {
    outline: 0;
}

.no-icon{
    color: #4c4c4c;
    font-weight: bold;
    font-size: 1.2em;
}

#icons-wrapper{
  /*  background-color: #0a749e;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:20px;

    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    text-align: center;*/
}

.icon-item{
    font-size: 60px;
    font-weight: normal;
    display: inline-block;
    margin: 20px;
    text-align: center;

    line-height: 50px;
    cursor: pointer;

    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
    color: #3a3a3a;
}

.icon-item:hover{
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    color: #cccccc;
}

#lastinfo{
    background-color: #282828;
    overflow: auto;
    text-align: center;
    z-index: 96;
    position: relative;
    margin-top: 50px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

#lastinfo a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

#lastinfo .wrapper{
    color: #939393;
    font-size: 1em;
    overflow: auto;
    text-align: center;
    padding: 20px 10px 20px 10px;
}


#copyright{
    overflow: auto;
    background-color: #131313;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

#copyright a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

#copyright .wrapper{
    color: #939393;
    font-size: 0.9em;
    text-align: center;
    padding: 20px 10px 20px 10px;
}



/** DIV FRAME **/

#divFrame{
    text-align: left;
    background-color: #323232;
    width: 100%;
    border-radius: 4px;
    display:none;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}

.icon-show{
    display: inline-block;
    font-size: 220px;
    min-width: 240px;
    text-align: center;
    color: whitesmoke;
  //  padding: 24px;
    text-shadow: 3px 6px 12px rgba(0, 0, 0, 0.7);
    border-right: 1px solid #292929;
}
.icon-header{
    text-align: left;
    color: whitesmoke;
    background-color: #2d3846;
    padding: 1px 24px 1px 14px ;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 2em;
    line-height: 70px;
}

.icon-header .closebutton{
    display: inline-block;
    float:right;
    font-size: 1.5em;
    cursor: pointer;

}

.icon-header .closebutton:hover{
    color: indianred;
}


.icon-header .iconName{
    display: inline-block;
    margin-left: 20px;
}


.icon-info {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2em;
    text-align: left;
    color: #e5e5e5;
    margin:20px;
    //background-color: red;

    height: 100%;

}

#metadata .value{
   color: #939393;
}
#metadata .value{
   margin-right: 20px   ;
}
#metadata div{
    margin-bottom: 8px;
    display: inline-block;
}



.codebox{
    font-size: 0.9em;
    background-color: #383838;
    border: 1px solid #292929;

    color: #a9d5de ;
    border-radius: 4px;
    font-family: monospace  !important;
    padding: 4px 12px 4px 12px;
    cursor: text;
    width: 100%;

    -moz-box-shadow:    inset 0 0 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
    box-shadow:         inset 0 0 2px rgba(0,0,0,0.4);
}

.sizes span{
    padding: 10px;
}

.buttons{
    margin-top: 20px;
}

.icon-info  .btn{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 125px;
    padding: 4px;
    margin: 6px;
    text-align: center  ;
    border: none;
    border-radius: 6px;
    background-color: darksalmon;
    color:#323232;
    font-size: 1em;
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
}

.icon-info  .btn:hover{
    background-color: #ffc4b1;
    color:#323232;
    -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
    box-shadow:  2px 2px 12px 0px rgba(0,0,0,0.75);
    outline:none;
}
.icon-info  .btn:focus {
    outline: none;
}


@media all and (max-width: 900px) {
    #icons-wrapper{
        background-color: inherit;
        padding-top:20px;
        border-radius:0;

        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow: none;
    }

    .content{
        text-align: center;
    }

    #divFrame, .sizes, .buttons{
        text-align: center;
    }
    .icon-show{
        border: none;
    }
    .codebox{
        font-size: 100%;
    }
}

.htmlcode{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8em;
    color: #4e5452;
}


.item{
    margin-bottom: 8px ;
    padding: 8px;
}

.code{
    display: inline-block;
    width: 50%;
    vertical-align: top;

}

.code pre{
    margin: 0;


}

.sample{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 10px 10px 10px 30px;
    color: #343434;
}

.sample button{
    color: #343434;
    font-weight: bold;
}

.mySpan{
    font-family: 'MapkeyIcons';
    font-size: 3em;
}

h2{
    color: #747474;
}

.img{
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 8px;
}
@media all and (max-width: 500px) {

    .item{
        text-align: center;
        height: 100%;
        padding: 8px;
    }

    .code{
        display: block;
        width: 100%;
        border: none;

    }

    .code{
        margin-bottom: 8px ;
    }

    .sample{
        display: block;
        width: 100%;
        border: none;
    }

}

.examples .wrapper{
    font-size: 1.2em;
    color: #242424;
    padding: 8px;
}

.examples a{
    color: #333333;
}